@import "../../styles/index.scss";

$input-gap: 0.7rem;

.formContainer {
    display: flex;
    flex-direction: column;
    gap: $input-gap;
}

.inputHozizontalContainer {
    display: flex;
    align-items: center;
    gap: $input-gap;
}

.forgotPasswordText {
    font-size: 0.7rem;
    margin: 0;
    text-align: right;
    color: #495057;
    cursor: pointer;
}

.forgotPasswordText:hover {
    text-decoration: underline;
}

.loginText {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #495057;
    cursor: pointer;
}

.loginText:hover {
    text-decoration: underline;
}