@import "../../styles/index.scss";

.container {
    @extend.cFlex;
    background-color: #f8f9fa;
    padding: 0.5rem 1rem;
}

.title {
    margin: 0;
    text-align: left;
}

.user {
    @extend.rFlex;
}

.content {
    margin: 0;
    text-align: left;
}

.stats {
    @extend.rFlex;
    gap: 1rem;
}

.statItem {
    @extend.rFlex;
    gap: 0.3rem;
}
