@import "../../styles/index.scss";

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 45%;
}

.forgotPasswordText {
    font-size: 0.7rem;
    margin: 0;
    text-align: right;
    color: #495057;
    cursor: pointer;
}

.forgotPasswordText:hover {
    text-decoration: underline;
}

.registerText {
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #495057;
    cursor: pointer;
    text-decoration: none;
}

.registerText:hover {
    text-decoration: underline;
}