.container {
    height: 100vh;
    width: 100vw;
    // background-color: #e9ecef;
    // background: rgb(148,213,234);
    // background: linear-gradient(0deg, rgba(148,213,234,1) 0%, rgba(193,212,231,1) 50%, rgba(248,249,250,1) 100%);   
    background-color: #ffffff;
}