@import "../../styles/index.scss";

.container {
    height: 80%;
    width: 80%;
    background-color: white;
}

.gridContainer {
    height: 100%;
    width: 100%;
}

.gridItem {
    @extend .gridContainer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftGridItem {
    @extend .gridItem;
    background: rgb(0,52,89);
    background: linear-gradient(0deg, rgba(0,52,89,1) 0%, rgba(0,126,167,1) 60%, rgba(0,168,232,1) 100%);
}

.rightGridItem  {
    @extend .gridItem;
    background-color: #ffffff;
}

.formTitle {
    color: $primary;
}

.textAnimation {
    font-size: 1.5rem;
    display: inline-block;
    color: #ffffff;
}