@import "../../../styles/index.scss";

.user {
    @extend.rFlex;
    text-align: left;
}

.userDetail {
    @extend.cFlex;
}

.username {
    font-size: 16px;
    font-weight: 600;
}

.createdAt {
    // text-align: left;
}