$primary: #007ea7;

.rFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cFlex {
    display: flex;
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.errorBox {
    background-color: pink;
    padding: 0.5rem;
    border-radius: 5px;
    color: red;
}